<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configuration-item>
    <key>IPPCS</key>
    <value>
      <ConnectionString>Server=192.168.0.20; User ID=ippcsqa; Password=ippcsqa123; Database=IPPCS_QA;</ConnectionString>
      <IsDefault>true</IsDefault>
      <Provider>System.Data.SqlClient</Provider>
    </value>
    <description>Local IPPCS Development Database</description>
  </configuration-item>
</configuration>
